x-samples-languages: ['curl', 'node', 'php', 'go', 'ruby', 'python', 'java', 'csharp']
swagger: '2.0'
info:
  version: '3.0.0'
  title: SendinBlue API
  description: |
    SendinBlue provide a RESTFul API that can be used with any languages. With this API, you will be able to :
      - Manage your campaigns and get the statistics
      - Manage your contacts
      - Send transactional Emails and SMS
      - and much more...

    You can download our wrappers at https://github.com/orgs/sendinblue

    **Possible responses**
      | Code | Message |
      | :-------------: | ------------- |
      | 200  | OK. Successful Request  |
      | 201  | OK. Successful Creation |
      | 202  | OK. Request accepted |
      | 204  | OK. Successful Update/Deletion  |
      | 400  | Error. Bad Request  |
      | 401  | Error. Authentication Needed  |
      | 402  | Error. Not enough credit, plan upgrade needed  |
      | 403  | Error. Permission denied  |
      | 404  | Error. Object does not exist |
      | 405  | Error. Method not allowed  |
      | 406  | Error. Not Acceptable  |
  contact:
    name: Sendinblue Support
    email: contact@sendinblue.com
    url: https://account.sendinblue.com/support
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
host: api.sendinblue.com
basePath: /v3
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /emailCampaigns:
    get:
        tags:
          - Email Campaigns
        summary: Return all your created email campaigns
        operationId: getEmailCampaigns
        parameters:
          - name: type
            description: Filter on the type of the campaigns
            in: query
            required: false
            type: string
            enum:
              - classic
              - trigger
          - name: status
            description: Filter on the status of the campaign
            in: query
            required: false
            type: string
            enum:
              - suspended
              - archive
              - sent
              - queued
              - draft
              - inProcess
          - name: statistics
            in: query
            description: Filter on type of the statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.
            required : false
            type: string
            enum:
              - globalStats
              - linksStats
              - statsByDomain
          - name: startDate
            description: Mandatory if endDate is used. Starting (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )
            in: query
            required: false
            type: string
            format: date-time
          - name: endDate
            description: Mandatory if startDate is used. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )
            in: query
            required: false
            type: string
            format: date-time
          - name: limit
            description: Number of documents per page
            in: query
            required: false
            type: integer
            format: int64
            default: 500
            maximum: 1000
          - name: offset
            description: Index of the first document in the page
            in: query
            required: false
            type: integer
            format : int64
            default: 0
          - name: excludeHtmlContent
            in : query
            description: Use this flag to exclude htmlContent from the response body. If set to **true**, htmlContent field will be returned as empty string in the response body
            type : boolean
            enum :
              - true
              - false
        responses:
            '200':
              description: Email campaigns informations
              schema:
                $ref: '#/definitions/getEmailCampaigns'
              examples:
                applications/json:
                    {
                      "campaigns": [
                        {
                          "id": 12,
                          "name": "EN - Sales Summer 2017",
                          "subject": "20% OFF for 2017 Summer Sales",
                          "type": "classic",
                          "status": "sent",
                          "scheduledAt": "2017-06-01T12:30:00Z",
                          "testSent": true,
                          "header": "[DEFAULT_HEADER]",
                          "footer": "[DEFAULT_FOOTER]",
                          "sender": {
                            "email": "marketing@mycompany.com",
                            "name": "Marketing",
                            "id": 26
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "{FNAME} {LNAME}",
                          "htmlContent": "This is my HTML Content",
                          "shareLink": "http://example.com/fhsgccc.html?t=9865448900",
                          "tag": "Newsletter",
                          "createdAt": "2017-05-01T12:30:00Z",
                          "modifiedAt": "2017-05-01T12:30:00Z",
                          "inlineImageActivation": true,
                          "mirrorActive": true,
                          "recurring": false,
                          "recipients": {
                            "lists": [
                              5
                            ],
                            "exclusionLists": [
                              13
                            ]
                          },
                          "statistics": {
                            "globalStats": {
                              "uniqueClicks": 2300,
                              "clickers": 2665,
                              "complaints": 1,
                              "delivered": 19765,
                              "sent": 19887,
                              "softBounces": 100,
                              "hardBounces": 87,
                              "uniqueViews": 7779,
                              "trackableViews": 5661,
                              "unsubscriptions": 2,
                              "viewed": 8999
                            },
                            "campaignStats": [
                              {
                                "listId": 5,
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "trackableViews": 5661,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            ],
                            "mirrorClick": 120,
                            "remaining": 1000,
                            "linksStats": {
                              "http://myUrl1.domain.com": 80
                            },
                            "statsByDomain": {
                              "yahoo.com": {
                                  "uniqueClicks": 298,
                                  "clickers": 533,
                                  "complaints": 0,
                                  "sent": 25601,
                                  "softBounces": 5,
                                  "hardBounces": 0,
                                  "uniqueViews": 3527,
                                  "unsubscriptions": 17,
                                  "viewed": 5255,
                                  "delivered": 25596
                              },
                              "hotmail.co.uk": {
                                  "uniqueClicks": 1970,
                                  "clickers": 2720,
                                  "complaints": 5,
                                  "sent": 117055,
                                  "softBounces": 111,
                                  "hardBounces": 0,
                                  "uniqueViews": 21111,
                                  "unsubscriptions": 105,
                                  "viewed": 35251,
                                  "delivered": 117056
                              }
                            }
                          }
                        },
                        {
                          "id": 22,
                          "name": "Weekly - 1",
                          "subject": "Week 1 - Newsletter",
                          "type": "Classic",
                          "status": "draft",
                          "scheduledAt": "",
                          "testSent": false,
                          "header": "[DEFAULT_HEADER]",
                          "footer": "[DEFAULT_FOOTER]",
                          "sender": {
                            "email": "newsletter@mycompany.com",
                            "name": "Newsletter",
                            "id": 26
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "{FNAME} {LNAME}",
                          "htmlContent": "This is my HTML Content",
                          "shareLink": "http://example.com/fhsgccc.html?t=9865448900",
                          "tag": "Newsletter",
                          "createdAt": "2017-05-01T12:30:00Z",
                          "modifiedAt": "2017-05-01T12:30:00Z",
                          "inlineImageActivation": true,
                          "mirrorActive": true,
                          "recurring": false,
                          "recipients": {
                            "lists": [
                              10
                            ],
                            "exclusionLists": [
                              45
                            ]
                          },
                          "statistics": {
                            "globalStats": {
                              "uniqueClicks": 2300,
                              "clickers": 2665,
                              "complaints": 1,
                              "delivered": 19765,
                              "sent": 19887,
                              "softBounces": 100,
                              "hardBounces": 87,
                              "uniqueViews": 7779,
                              "trackableViews": 5661,
                              "unsubscriptions": 2,
                              "viewed": 8999
                            },
                            "campaignStats": [
                              {
                                "listId": 10,
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "trackableViews": 5661,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            ],
                            "mirrorClick": 120,
                            "remaining": 1000,
                            "linksStats": {
                              "http://myUrl1.domain.com": {
                                "nbClick": 80
                              },
                              "http://myUrl2.domain.com": {
                                "nbClick": 80
                              },
                              "http://myUrl3.domain.com": {
                                "nbClick": 80
                              }
                            },
                            "statsByDomain": {
                              "gmail": {
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              },
                              "aol": {
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            }
                          }
                        }
                      ],
                      "count": 2
                    }
            '400':
              description: bad request
              schema:
                $ref: '#/definitions/errorModel'
    post:
       tags:
          - Email Campaigns
       summary: Create an email campaign
       operationId: createEmailCampaign
       parameters:
        - name: emailCampaigns
          description: Values to create a campaign
          required: true
          in: body
          schema:
            $ref: '#/definitions/createEmailCampaign'
       responses:
          '201':
            description: Email campaign created
            schema:
              $ref: '#/definitions/createModel'
          '400':
            description: bad request
            schema:
              $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}:
    get:
      tags:
          - Email Campaigns
      summary: Get an email campaign report
      operationId: getEmailCampaign
      parameters:
        - name: campaignId
          description: Id of the campaign
          in: path
          type: integer
          format: int64
          required: true
        - name: statistics
          in: query
          description: Filter on type of the statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.
          type: string
          enum:
          - globalStats
          - linksStats
          - statsByDomain
          - statsByDevice
          - statsByBrowser
      responses:
        '200':
          description: Email campaign informations
          schema:
            $ref: '#/definitions/getEmailCampaign'
          examples:
            application/json:
                {
                  "id": 22,
                  "name": "Weekly - 1",
                  "subject": "Week 1 - Newsletter",
                  "type": "classic",
                  "status": "draft",
                  "scheduledAt": "2017-09-22T12:30:00Z",
                  "testSent": false,
                  "header": "[DEFAULT_HEADER]",
                  "footer": "[DEFAULT_FOOTER]",
                  "sender": {
                    "email": "newsletter@mycompany.com",
                    "name": "Newsletter",
                    "id": 26
                  },
                  "replyTo": "replyto@domain.com",
                  "toField": "{FNAME} {LNAME}",
                  "htmlContent": "This is my HTML Content",
                  "shareLink": "http://dhh.sendinblue.com/fhsgccc.html?t=9865448900",
                  "tag": "Newsletter",
                  "createdAt": "2017-05-01T12:30:00Z",
                  "modifiedAt": "2017-05-01T12:30:00Z",
                  "inlineImageActivation": true,
                  "mirrorActive": true,
                  "recurring": false,
                  "recipients": {
                    "lists": [
                      22
                    ],
                    "exclusionLists": [
                      45
                    ]
                  },
                  "statistics": {
                    "globalStats": {
                      "uniqueClicks": 2300,
                      "clickers": 2665,
                      "complaints": 1,
                      "delivered": 19765,
                      "sent": 19887,
                      "softBounces": 100,
                      "hardBounces": 87,
                      "uniqueViews": 7779,
                      "trackableViews": 5661,
                      "unsubscriptions": 2,
                      "viewed": 8999
                    },
                    "campaignStats": [
                      {
                        "listId": 22,
                        "uniqueClicks": 2300,
                        "clickers": 2665,
                        "complaints": 1,
                        "delivered": 19765,
                        "sent": 19887,
                        "softBounces": 100,
                        "hardBounces": 87,
                        "uniqueViews": 7779,
                        "trackableViews": 5661,
                        "unsubscriptions": 2,
                        "viewed": 8999,
                        "deferred": 30
                      }
                    ],
                    "mirrorClick": 120,
                    "remaining": 1000,
                    "linksStats": {
                      "http://myUrl1.domain.com": {
                        "nbClick": 80
                      },
                      "http://myUrl2.domain.com": {
                        "nbClick": 80
                      },
                      "http://myUrl3.domain.com": {
                        "nbClick": 80
                      }
                    },
                    "statsByDomain": {
                      "gmail": {
                        "uniqueClicks": 2300,
                        "clickers": 2665,
                        "complaints": 1,
                        "delivered": 19765,
                        "sent": 19887,
                        "softBounces": 100,
                        "hardBounces": 87,
                        "uniqueViews": 7779,
                        "unsubscriptions": 2,
                        "viewed": 8999,
                        "deferred": 30
                      }
                    },
                    "statsByDevice": {
                      "desktop": {
                        "mac": {
                          "clickers": 1,
                          "uniqueClicks": 0,
                          "viewed": 2,
                          "uniqueViews": 1
                        }
                      },
                      "mobile": {
                        "androidMobile": {
                          "clickers": 1,
                          "uniqueClicks": 0,
                          "viewed": 1,
                          "uniqueViews": 0
                        },
                        "iPhone": {
                          "clickers": 1,
                          "uniqueClicks": 0,
                          "viewed": 2,
                          "uniqueViews": 0
                        }
                      }
                    },
                    "statsByBrowser": {
                      "thunderbird": {
                        "clickers": 1,
                        "uniqueClicks": 0,
                        "viewed": 1,
                        "uniqueViews": 0
                      },
                      "safari": {
                        "clickers": 1,
                        "uniqueClicks": 0,
                        "viewed": 1,
                        "uniqueViews": 0
                      },
                      "internetExplorer": {
                        "clickers": 0,
                        "uniqueClicks": 0,
                        "viewed": 1,
                        "uniqueViews": 0
                      }
                    }
                  }
                }
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - Email Campaigns
      summary: Update an email campaign
      operationId: updateEmailCampaign
      parameters:
        - name: campaignId
          description: Id of the campaign
          in: path
          type: integer
          format: int64
          required: true
        - name: emailCampaign
          description: Values to update a campaign
          required: true
          in: body
          schema:
            $ref: '#/definitions/updateEmailCampaign'
      responses:
        '204':
          description: Email Campaign has been updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - Email Campaigns
      summary: Delete an email campaign
      operationId: deleteEmailCampaign
      parameters:
        - name: campaignId
          description: id of the campaign
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '204':
          description: Email campaign has been deleted
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/sendNow:
    post:
      tags:
          - Email Campaigns
      summary: Send an email campaign immediately, based on campaignId
      operationId: sendEmailCampaignNow
      parameters:
        - name: campaignId
          description: Id of the campaign
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '204':
          description: Email campaign has been scheduled
        '400':
          description: Campaign could not be sent
          schema:
            $ref: '#/definitions/errorModel'
        '402':
          description: You don't have enough credit to send your campaign. Please update your plan
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/sendTest:
    post:
      tags:
          - Email Campaigns
      summary: Send an email campaign to your test list
      operationId: sendTestEmail
      parameters:
      - name: campaignId
        description: Id of the campaign
        in: path
        type: integer
        format: int64
        required: true
      - name: emailTo
        in: body
        required: true
        schema:
          $ref: '#/definitions/sendTestEmail'
      responses:
        '204':
          description: Test email has been sent successfully to all recipients
        '400':
          description: Test email could not be sent to the following email addresses
          schema:
            $ref: '#/definitions/postSendFailed'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/status:
    put:
      tags:
          - Email Campaigns
      summary: Update an email campaign status
      operationId: updateCampaignStatus
      parameters:
        - name: campaignId
          description: Id of the campaign
          in: path
          type: integer
          format: int64
          required: true
        - name: status
          description: Status of the campaign
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateCampaignStatus'
      responses:
        '204':
          description: The campaign status has been updated successfully
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/sendReport:
    post:
      tags:
          - Email Campaigns
      summary: Send the report of a campaign
      description: A PDF will be sent to the specified email addresses
      operationId: sendReport
      parameters:
      - name: campaignId
        description: Id of the campaign
        in: path
        type: integer
        format: int64
        required: true
      - name: sendReport
        description: Values for send a report
        in: body
        required: true
        schema:
          $ref: '#/definitions/sendReport'
      responses:
        '204':
          description: Report has been successfully sent to the defined recipients
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/abTestCampaignResult:
    get:
      tags:
        - Email Campaigns
      summary: Get an A/B test email campaign results
      description: Obtain winning version of an A/B test email campaign
      operationId: getAbTestCampaignResult
      parameters:
        - name: campaignId
          description: Id of the A/B test campaign
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '200':
          description: A/B test email campaign Result
          schema:
            $ref: '#/definitions/abTestCampaignResult'
          examples:
            application/json:
              {
                "winningCriteria": "Click",
                "statistics": {
                  "openers": {
                    "Version A": "20%",
                    "Version B": "100%"
                  },
                  "clicks": {
                    "Version A": "0%",
                    "Version B": "50%"
                  },
                  "unsubscribed": {
                    "Version A": "20%",
                    "Version B": "0%"
                  },
                  "softBounces": {
                    "Version A": "0%",
                    "Version B": "0%"
                  },
                  "hardBounces": {
                    "Version A": "0%",
                    "Version B": "0%"
                  },
                  "complaints": {
                    "Version A": "0%",
                    "Version B": "0%"
                  }
                },
                "winningVersion": "B",
                "openRate": "100%",
                "ClickRate": "50%",
                "winningVersionRate": "0%",
                "clickedLinks": {
                  "Version A": [
                    {
                      "link": "http://www.google.com",
                      "clicksCount": 0,
                      "clickRate": "0%"
                    },
                    {
                      "link": "http://www.youtube.com",
                      "clicksCount": 0,
                      "clickRate": "0%"
                    }
                  ],
                  "Version B": [
                    {
                      "link": "http://www.github.com",
                      "clicksCount": 2,
                      "clickRate": "40%"
                    },
                    {
                      "link": "http://www.stackoverflow.com",
                      "clicksCount": 3,
                      "clickRate": "60%"
                    }
                  ]
                }
              }
        '404':
          description: A/B test Email Campaign not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/sharedUrl:
    get:
      tags:
        - Email Campaigns
      summary: Get a shared template url
      description: Get a unique URL to share & import an email template from one Sendinblue account to another.
      operationId: getSharedTemplateUrl
      parameters:
        - name: campaignId
          description: Id of the campaign or template
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '200':
          description: Shared template URL information
          schema:
            $ref: '#/definitions/getSharedTemplateUrl'
          examples:
            application/json:
              {
                "sharedUrl": "https://my.sendinblue.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-",
              }
        '404':
          description: Campaign/Template ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '405':
          description: Only email campaigns or templates are allowed
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/{campaignId}/exportRecipients:
    post:
      tags:
          - Email Campaigns
      summary: Export the recipients of an email campaign
      operationId: emailExportRecipients
      parameters:
        - name: campaignId
          description: Id of the campaign
          in: path
          type: integer
          format: int64
          required: true
        - name: recipientExport
          description: Values to send for a recipient export request
          in: body
          required: false
          schema:
            $ref: '#/definitions/emailExportRecipients'
      responses:
        '202':
          description: Recipient export request has been accepted
          schema:
            $ref: '#/definitions/createdProcessId'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Campaign ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /emailCampaigns/images:
    post:
      tags:
        - Email Campaigns
      summary: Upload an image to your account's image gallery
      operationId: uploadImageToGallery
      parameters:
        - name: uploadImage
          description: Parameters to upload an image
          required: true
          in: body
          schema:
            $ref: '#/definitions/uploadImageToGallery'
      responses:
          '201':
            description: Image successfully uploaded
          '400':
            description: bad request
            schema:
              $ref: '#/definitions/errorModel'

  /smtp/email:
    post:
      tags:
          - SMTP
      summary: Send a transactional email
      operationId: sendTransacEmail
      parameters:
        - name: sendSmtpEmail
          description: Values to send a transactional email
          in: body
          required: true
          schema:
            $ref: '#/definitions/sendSmtpEmail'
      responses:
        '201':
          description: transactional email sent
          schema:
            $ref: '#/definitions/createSmtpEmail'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/emails:
    get:
      tags:
        - SMTP
      summary: Get the list of transactional emails on the basis of allowed filters
      description: This endpoint will show the list of emails for past 30 days by default. To retrieve emails before that time, please pass startDate and endDate in query filters.
      operationId: getTransacEmailsList
      parameters:
        - name: email
          description: Mandatory if templateId and messageId are not passed in query filters. Email address to which transactional email has been sent.
          in: query
          required: false
          type: string
        - name: templateId
          description: Mandatory if email and messageId are not passed in query filters. Id of the template that was used to compose transactional email.
          in: query
          required: false
          type: integer
          format: int64
        - name: messageId
          description: Mandatory if templateId and email are not passed in query filters. Message ID of the transactional email sent.
          in: query
          required: false
          type: string
        - name: startDate
          description: Mandatory if endDate is used. Starting date (YYYY-MM-DD) from which you want to fetch the list. Maximum time period that can be selected is one month.
          in: query
          required: false
          type: string
          format: date
        - name: endDate
          description: Mandatory if startDate is used. Ending date (YYYY-MM-DD) till which you want to fetch the list. Maximum time period that can be selected is one month.
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: List of transactional emails
          schema:
            $ref: '#/definitions/getTransacEmailsList'
          examples:
            application/json:
              {
                "transactionalEmails": [
                  {
                    "email": "abc@xyz.com",
                    "subject": "summer camp",
                    "templateId": 15,
                    "messageId": "<201798300811.5787683@relay.domain.com>",
                    "uuid": "5a78c-209ok98262910-std2341",
                    "date": "2019-05-25T11:53:26Z"
                  },
                  {
                    "email": "test@test.com",
                    "subject": "details verification",
                    "templateId": 15,
                    "messageId": "<201798300811.5700093@relay.domain.com>",
                    "uuid": "5a78c-209ok98262910-s99a341",
                    "date": "2019-05-25T07:28:11Z"
                  }
                ]
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/emails/{uuid}:
    get:
      tags:
        - SMTP
      summary: Get the personalized content of a sent transactional email
      operationId: getTransacEmailContent
      parameters:
        - name: uuid
          description: Unique id of the transactional email that has been sent to a particular contact
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Transactional email content
          schema:
            $ref: '#/definitions/getTransacEmailContent'
          examples:
            application/json:
              {
                "email": "abc@example.com",
                "subject": "Summer Camps",
                "templateId": 12,
                "date": "2016-02-25T11:53:26Z",
                "events": [{
                  "name": "sent",
                  "time": "2016-02-25T11:53:26Z"
                }, {
                  "name": "delivered",
                  "time": "2016-02-25T11:55:26Z"
                }, {
                  "name": "opened",
                  "time": "2016-02-26T09:53:26Z"
                }],
                "body": "<!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1> <p>This is the actual html content sent</p> </body> </html>"
              }
  /smtp/log/{messageId}:
    delete:
      tags:
          - SMTP
      summary: Delete an SMTP transactional log
      parameters:
        - name: messageId
          description: MessageId of the transactional log to delete
          in: path
          type: string
          required: true
      responses:
        '204':
          description: Transactional Logs deleted
        '404':
          description: Message ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/templates:
    get:
      tags:
          - SMTP
      summary: Get the list of email templates
      operationId: getSmtpTemplates
      parameters:
        - name: templateStatus
          description: Filter on the status of the template. Active = true, inactive = false
          in: query
          required: false
          type: boolean
        - name: limit
          description: Number of documents returned per page
          in: query
          required: false
          type: integer
          format: int64
          default: 50
          maximum: 1000
        - name: offset
          description: Index of the first document in the page
          in: query
          required: false
          type: integer
          format : int64
          default : 0
      responses:
        '200':
          description: transactional email templates informations
          schema:
            $ref: '#/definitions/getSmtpTemplates'
          examples:
            application/json:
                {
                  "count": 2,
                  "templates": [
                  {
                    "id": 5,
                    "name": "ChristomasTimeTemplate",
                    "subject": "Merry Christmas",
                    "isActive": false,
                    "testSent": false,
                    "sender": {
                      "name": "John",
                      "email": "john.smith@example.com",
                      "id": 23
                    },
                    "replyTo": "replyto@domain.com",
                    "toField": "",
                    "tag": "Festival",
                    "htmlContent": "HTML CONTENT 1",
                    "createdAt": "2016-02-24T14:44:24Z",
                    "modifiedAt": "2016-02-24T15:37:11Z"
                  },
                  {
                    "id": 12,
                    "name": "SummerSales2017Template",
                    "subject": "Enjoy our summer Sales !",
                    "isActive": true,
                    "testSent": false,
                    "sender": {
                      "name": "John",
                      "email": "john.smith@example.com",
                      "id": 23
                    },
                    "replyTo": "replyto@domain.com",
                    "toField": "",
                    "tag":"Summer",
                    "htmlContent": "HTML CONTENT 2",
                    "createdAt": "2016-02-25T11:53:26Z",
                    "modifiedAt": "2016-02-25T11:53:26Z"
                  }
                ]
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    post:
      tags:
          - SMTP
      summary: Create an email template
      operationId: createSmtpTemplate
      parameters:
        - name: smtpTemplate
          description: values to update in transactional email template
          in: body
          required: true
          schema:
            $ref: '#/definitions/createSmtpTemplate'
      responses:
        '201':
          description: transactional email template created
          schema:
            $ref: '#/definitions/createModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/templates/{templateId}:
    get:
      tags:
          - SMTP
      summary: Returns the template information
      operationId: getSmtpTemplate
      parameters:
        - name: templateId
          description: id of the template
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '200':
          description: Email template informations
          schema:
            $ref: '#/definitions/getSmtpTemplateOverview'
          examples:
            application/json:
              {
                "id": 33,
                "name": "OrderConfirmation",
                "subject": "Order Confirmation : Thanks for your Purchase !",
                "isActive": true,
                "testSent": false,
                "sender": {
                  "name": "John",
                  "email": "john.smith@example.com",
                  "id": 26
                },
                "replyTo": "replyto@domain.com",
                "toField": "",
                "tag": "",
                "htmlContent": "HTML CONTENT 4",
                "createdAt": "2016-02-25T11:53:26Z",
                "modifiedAt": "2016-02-25T11:53:26Z",
                "doiTemplate": false
              }
        '404':
          description: Template ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - SMTP
      summary: Update an email template
      operationId: updateSmtpTemplate
      parameters:
        - name: templateId
          description: id of the template
          in: path
          type: integer
          format: int64
          required: true
        - name: smtpTemplate
          description: values to update in transactional email template
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateSmtpTemplate'
      responses:
        '204':
          description: transactional email template updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Template ID not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - SMTP
      summary: Delete an inactive email template
      operationId: deleteSmtpTemplate
      parameters:
        - name: templateId
          description: id of the template
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '204':
          description: Inactive transactional email template has been deleted
        '404':
          description: Template ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/templates/{templateId}/sendTest:
    post:
      tags:
          - SMTP
      summary: Send a template to your test list
      operationId: sendTestTemplate
      parameters:
      - name: templateId
        description: Id of the template
        in: path
        type: integer
        format: int64
        required: true
      - name: sendTestEmail
        in: body
        required: true
        schema:
          $ref: '#/definitions/sendTestEmail'
      responses:
        '204':
          description: Test email has been sent successfully to all recipients
        '400':
          description: Test email could not be sent to the following email addresses
          schema:
            $ref: '#/definitions/postSendFailed'
        '404':
          description: Template ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/statistics/aggregatedReport:
    get:
      tags:
          - SMTP
      summary: Get your transactional email activity aggregated over a period of time
      operationId: getAggregatedSmtpReport
      parameters:
        - name: startDate
          description: Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate
          in: query
          required: false
          type: string
        - name: endDate
          description: Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate
          in: query
          required: false
          type: string
        - name: days
          description: Number of days in the past including today (positive integer). Not compatible with 'startDate' and 'endDate'
          in: query
          required: false
          type: integer
        - name: tag
          description: Tag of the emails
          in: query
          required: false
          type: string
      responses:
        '200':
          description: Aggregated report informations
          schema:
            $ref: '#/definitions/getAggregatedReport'
          examples:
            application/json:
              {
                "range": "2016-09-08|2017-04-28",
                "requests": 19887,
                "delivered": 18996,
                "hardBounces": 234,
                "softBounces": 1533,
                "clicks": 9987,
                "uniqueClicks": 8766,
                "opens": 17654,
                "uniqueOpens": 13688,
                "spamReports": 1,
                "blocked": 2,
                "invalid": 0,
                "unsubscribed": 2
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/statistics/reports:
    get:
      tags:
          - SMTP
      summary: Get your transactional email activity aggregated per day
      operationId: getSmtpReport
      parameters:
        - name: limit
          description: Number of documents returned per page
          in: query
          required: false
          type: integer
          format: int64
          default: 10
          maximum: 30
        - name: offset
          description: Index of the first document on the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: startDate
          description: Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD)
          in: query
          required: false
          type: string
        - name: endDate
          description: Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD)
          in: query
          required: false
          type: string
        - name: days
          description: Number of days in the past including today (positive integer). Not compatible with 'startDate' and 'endDate'
          in: query
          required: false
          type: integer
        - name: tag
          description: Tag of the emails
          in: query
          required: false
          type: string
      responses:
        '200':
          description: Aggregated report informations
          schema:
            $ref: '#/definitions/getReports'
          examples:
            application/json:
              { "reports": [
                  {
                    "date":"2017-04-30",
                    "requests":10756,
                    "delivered":10103,
                    "hardBounces":21,
                    "softBounces":137,
                    "clicks":1026,
                    "uniqueClicks":720,
                    "opens":5091,
                    "uniqueOpens":2318,
                    "spamReports":0,
                    "blocked":519,
                    "invalid":1,
                    "unsubscribed": 0
                  },
                  {
                    "date":"2017-05-01",
                    "requests":18812,
                    "delivered":17499,
                    "hardBounces":34,
                    "softBounces":254,
                    "clicks":1514,
                    "uniqueClicks":1090,
                    "opens":10089,
                    "uniqueOpens":4393,
                    "spamReports":0,
                    "blocked":920,
                    "invalid":2,
                    "unsubscribed": 3
                  }
                ]
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/statistics/events:
    get:
      tags:
          - SMTP
      summary: Get all your transactional email activity (unaggregated events)
      operationId: getEmailEventReport
      parameters:
        - name: limit
          description: Number limitation for the result returned
          in: query
          required: false
          type: integer
          format: int64
          default: 50
          maximum: 100
        - name: offset
          description: Beginning point in the list to retrieve from.
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: startDate
          description: Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate
          in: query
          required: false
          type: string
        - name: endDate
          description: Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate
          in: query
          required: false
          type: string
        - name: days
          description: Number of days in the past including today (positive integer). Not compatible with 'startDate' and 'endDate'
          in: query
          required: false
          type: integer
        - name: email
          description: Filter the report for a specific email addresses
          in: query
          required: false
          type: string
          format: email
        - name: event
          description: Filter the report for a specific event type
          in: query
          required: false
          type: string
          enum:
           - bounces
           - hardBounces
           - softBounces
           - delivered
           - spam
           - requests
           - opened
           - clicks
           - invalid
           - deferred
           - blocked
           - unsubscribed
        - name: tags
          description: Filter the report for tags (serialized and urlencoded array)
          in: query
          required: false
          type: string
        - name: messageId
          description: Filter on a specific message id
          in: query
          required: false
          type: string
        - name: templateId
          description: Filter on a specific template id
          in: query
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: Email events report informations
          schema:
            $ref: '#/definitions/getEmailEventReport'
          examples:
            application/json:
                {
                  "events": [
                    {
                      "email": "john.smith@example.com",
                      "date": "2017-03-12T12:30:00Z",
                      "messageId": "<201798300811.5787683@example.domain.com>",
                      "event": "deferred",
                      "reason": "Error connection timeout",
                      "tag": "OrderConfirmation",
                      "from": "john@example.com"
                    },
                     {
                      "email": "john.smith@example.com",
                      "date": "2017-03-13T16:30:00Z",
                      "messageId": "<201798300811.5787683@example.domain.com>",
                      "event": "delivered",
                      "tag": "OrderConfirmation",
                      "from": "john@example.com"
                    }
                  ]
                }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/blockedContacts/{email}:
    delete:
      tags:
          - SMTP
      summary: Unblock or resubscribe a transactional contact
      parameters:
        - name: email
          description: contact email (urlencoded) to unblock.
          in: path
          type: string
          required: true
      responses:
        '204':
          description: Contact unblocked
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Contact email not found
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/blockedContacts:
    get:
      tags:
        - SMTP
      summary: Get the list of blocked or unsubscribed transactional contacts
      operationId: getTransacBlockedContacts
      parameters:
        - name: startDate
          description: Mandatory if endDate is used. Starting date (YYYY-MM-DD) from which you want to fetch the blocked or unsubscribed contacts
          in: query
          required: false
          type: string
        - name: endDate
          description: Mandatory if startDate is used. Ending date (YYYY-MM-DD) till which you want to fetch the blocked or unsubscribed contacts
          in: query
          required: false
          type: string
        - name: limit
          description: Number of documents returned per page
          in: query
          required: false
          type: integer
          format: int64
          default: 50
          maximum: 100
        - name: offset
          description: Index of the first document on the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: senders
          description: Comma separated list of emails of the senders from which contacts are blocked or unsubscribed
          in: query
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        '200':
          description: List of blocked or unsubscribed transactional contacts
          schema:
            $ref: '#/definitions/getTransacBlockedContacts'
          examples:
            application/json:
              {
                "contacts": [
                  {
                    "email": "abc@xyz.com",
                    "senderEmail": "ez312@gmal.com",
                    "reason": {
                        "message": "Admin blocked",
                        "code": "adminBlocked"
                    },
                    "blockedAt": "2017-05-01T12:30:00Z",
                  }
                ],
                "count": 1
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/blockedDomains:
    get:
      tags:
        - SMTP
      summary: Get the list of blocked domains
      description: Get the list of blocked domains
      operationId: getBlockedDomains
      responses:
        '200':
          description: List of blocked domains
          schema:
            $ref: '#/definitions/getBlockedDomains'
          examples:
            application/json:
              {
                "domains": ["example.com", "testdomain.com"]
              }
    post:
      tags:
        - SMTP
      summary: Add a new domain to the list of blocked domains
      description: Blocks a new domain in order to avoid messages being sent to the same
      operationId: blockNewDomain
      parameters:
        - name: blockDomain
          in: body
          required: true
          schema:
            $ref: '#/definitions/blockDomain'
      responses:
        '201':
          description: Domain is successfully blocked
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/blockedDomains/{domain}:
    delete:
      tags:
        - SMTP
      summary: Unblock an existing domain from the list of blocked domains
      description: Unblocks an existing domain from the list of blocked domains
      operationId: deleteBlockedDomain
      parameters:
        - name: domain
          description: The name of the domain to be deleted
          type: string
          in: path
          required: true
      responses:
        '204':
          description: Domain is successfully deleted from the list of blocked domains
        '404':
          description: Domain not found
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/deleteHardbounces:
    post:
      tags:
          - SMTP
      summary: Delete hardbounces
      description: Delete hardbounces. To use carefully (e.g. in case of temporary ISP failures)
      operationId: deleteHardbounces
      parameters:
        - name: deleteHardbounces
          description: values to delete hardbounces
          in: body
          required: false
          schema:
            $ref: '#/definitions/deleteHardbounces'
      responses:
        '204':
          description: Hardbounces deleted
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /smtp/templates/{templateId}/send:
    post:
      tags:
          - SMTP
      summary: Send a template
      description: This endpoint is deprecated. Prefer v3/smtp/email instead.
      operationId: sendTemplate
      deprecated: true
      parameters:
      - name: templateId
        description: Id of the template
        in: path
        type: integer
        format: int64
        required: true
      - name: sendEmail
        in: body
        required: true
        schema:
          $ref: '#/definitions/sendEmail'
      responses:
        '201':
          description: Email has been sent successfully to all recipients
          schema:
            $ref: '#/definitions/sendTemplateEmail'
        '400':
          description: Email could not be sent to the following email addresses
          schema:
            $ref: '#/definitions/postSendFailed'
        '404':
          description: Template ID not found
          schema:
            $ref: '#/definitions/errorModel'

  /contacts:
    get:
      tags:
          - Contacts
      summary: Get all the contacts
      operationId: getContacts
      parameters:
        - name: limit
          description: Number of documents per page
          in: query
          required: false
          type: integer
          format: int64
          default: 50
          maximum: 1000
        - name: offset
          description: Index of the first document of the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: modifiedSince
          description: Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.
          in: query
          required: false
          type: string
          format: date-time
        - name: createdSince
          description: Filter (urlencoded) the contacts created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.
          in: query
          required: false
          type: string
          format: date-time
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: All contacts listed
          schema:
            $ref: '#/definitions/getContacts'
          examples:
            application/json:
              {
                "contacts": [
                  {
                  "email": "contact1@example.com",
                  "id": 247,
                  "emailBlacklisted": true,
                  "smsBlacklisted": true,
                  "createdAt": "2017-05-01T17:05:03Z",
                  "modifiedAt": "2017-05-01T17:05:03Z",
                  "listIds": [43,58],
                  "attributes": {
                    "SMS": "33058407250",
                    "IDENTIFICATION": "1-3RHQ-259",
                    "CIV": "MS",
                    "LAST_NAME": "Brennon",
                    "FIRST_NAME": "Meg",
                    "DOB": "1986-05-02",
                    "ADDRESS": "1 5th avenue",
                    "ZIP_CODE": "44300",
                    "CITY": "New-York",
                    "ACTION_CODE": "17HH98CH",
                    }
                  },
                  {
                  "email": "33058407248@mailin-sms.com",
                  "id": 245,
                  "emailBlacklisted": true,
                  "smsBlacklisted": false,
                  "createdAt": "2017-05-01T17:05:03Z",
                  "modifiedAt": "2017-05-01T17:05:03Z",
                  "listIds": [43,61,58],
                  "attributes": {
                    "SMS": "33058407248",
                    "IDENTIFICATION": "1-78JS-432",
                    "CIV": "MS",
                    "LAST_NAME": "Press",
                    "FIRST_NAME": "Sophia",
                    "DOB": "1980-09-11",
                    "ADDRESS": "5 Flower Street",
                    "ZIP_CODE": "44119",
                    "CITY": "Seattle",
                    "ACTION_CODE": "17HU765",
                    }
                  }
                ],
              "count": 3
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    post:
      tags:
          - Contacts
      summary: Create a contact
      operationId: createContact
      parameters:
        - name: createContact
          description: Values to create a contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/createContact'
      responses:
        '201':
          description: Contact created
          schema:
            $ref: '#/definitions/createUpdateContactModel'
        '204':
          description: Contact updated
          schema:
            $ref: '#/definitions/createUpdateContactModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/doubleOptinConfirmation:
    post:
      tags:
          - Contacts
      summary: Create Contact via DOI (Double-Opt-In) Flow
      operationId: createDoiContact
      parameters:
        - name: createDoiContact
          description: Values to create the Double opt-in (DOI) contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/createDoiContact'
      responses:
        '201':
          description: DOI Contact created
        '204':
          description: DOI Contact updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/{email}:
    get:
      tags:
          - Contacts
      summary: Get a contact's details
      operationId: getContactInfo
      parameters:
        - name: email
          description: Email (urlencoded) of the contact OR its SMS attribute value
          in: path
          type: string
          required: true
      responses:
        '200':
          description: Contact informations
          schema:
            $ref: '#/definitions/getExtendedContactDetails'
          examples:
            application/json:
              {
                "email": "peggy.rain@example.com",
                "id": 42,
                "emailBlacklisted": false,
                "smsBlacklisted": false,
                "createdAt": "2017-05-02T16:40:31Z",
                "modifiedAt": "2017-05-02T16:40:31Z",
                "attributes": {
                  "FIRST_NAME": "Peggy",
                  "LAST_NAME": "Rain",
                  "SMS": "3087433387669",
                  "CIV": "1",
                  "DOB": "1986-04-13",
                  "ADDRESS": "987 5th avenue",
                  "ZIP_CODE": "87544",
                  "CITY": "New-York",
                  "AREA": "NY"
                  },
                "listIds": [40],
                "statistics": {
                  "messagesSent": [
                    {
                      "campaignId": 21,
                      "eventTime": "2016-05-03T20:15:13Z"
                    },
                    {
                      "campaignId": 42,
                      "eventTime": "2016-10-17T10:30:01Z"
                    }
                  ],
                  "opened": [
                    {
                      "campaignId": 21,
                      "count": 2,
                      "eventTime": "2016-05-03T21:24:56Z",
                      "ip": "66.249.93.118"
                    },
                    {
                      "campaignId": 68,
                      "count": 1,
                      "eventTime": "2017-01-30T13:56:40Z",
                      "ip": "66.249.93.217"
                    }
                  ],
                  "clicked": [
                    {
                      "campaignId": 21,
                      "links":[
                        {
                          "count": 2,
                          "eventTime": "2016-05-03T21:25:01Z",
                          "ip": "66.249.93.118",
                          "url": "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
                        }
                      ],
                    },
                  ]
                }
              }
        '404':
          description: Contact's email not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - Contacts
      summary: Update a contact
      operationId: updateContact
      parameters:
        - name: email
          description: Email (urlencoded) of the contact
          in: path
          type: string
          required: true
        - name: updateContact
          description: Values to update a contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateContact'
      responses:
        '204':
          description: Contact updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Contact's email not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - Contacts
      summary: Delete a contact
      operationId: deleteContact
      parameters:
        - name: email
          description: Email (urlencoded) of the contact
          in: path
          type: string
          required: true
      responses:
        '204':
          description: Contact deleted
        '404':
          description: Contact not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '405':
          description: You're not allowed to delete registered email contact with SendinBlue
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/{email}/campaignStats:
    get:
      tags:
          - Contacts
      summary: Get email campaigns' statistics for a contact
      operationId: getContactStats
      parameters:
        - name: email
          description: Email address (urlencoded) of the contact
          in: path
          type: string
          required: true
        - name: startDate
          description: Mandatory if endDate is used. Starting date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be lower than equal to endDate
          in: query
          required: false
          type: string
          format: date
        - name: endDate
          description: Mandatory if startDate is used. Ending date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be greater than equal to startDate
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: Contact campaign statistics informations
          schema:
            $ref: '#/definitions/getContactCampaignStats'
          examples:
            application/json:
              {
                "messagesSent": [
                  {
                    "campaignId": 21,
                    "eventTime": "2016-05-03T20:15:13Z"
                  },
                  {
                    "campaignId": 42,
                    "eventTime": "2016-10-17T10:30:01Z"
                  },
                  {
                    "campaignId": 45,
                    "eventTime": "2016-11-09T11:45:02Z"
                  }
                ],
                "opened": [
                  {
                    "campaignId": 21,
                    "count": 2,
                    "eventTime": "2016-05-03T21:24:56Z",
                    "ip": "66.249.93.118"
                  },
                  {
                    "campaignId": 45,
                    "count": 1,
                    "eventTime": "2017-01-30T13:56:40Z",
                    "ip": "66.249.93.217"
                  }
                ],
                "clicked": [
                  {
                    "campaignId": 21,
                    "links":[
                      {
                        "count": 2,
                        "eventTime": "2016-05-03T21:25:01Z",
                        "ip": "66.249.93.118",
                        "url": "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
                      }
                    ],
                  },
                ]
              }
        '404':
          description: Contact's email not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/attributes:
    get:
      tags:
          - Contacts
          - Attributes
      summary: List all attributes
      operationId: getAttributes
      responses:
        '200':
          description: Attributes listed
          schema:
            $ref: '#/definitions/getAttributes'
          examples:
            application/json:
                {
                  "attributes": [
                    {
                      "name": "LASTNAME",
                      "category": "normal",
                      "type": "text",
                    },
                    {
                      "name": "FIRSTNAME",
                      "category": "normal",
                      "type": "text",
                    },
                    {
                      "name": "DOB",
                      "category": "normal",
                      "type": "date",
                    },
                    {
                      "name": "GENDER",
                      "category": "category",
                      "type": "text",
                      "enumeration": [
                        {
                          "value": 1,
                          "label": "Men"
                        },
                        {
                          "value": 2,
                          "label": "Women"
                        },
                        {
                          "value": 3,
                          "label": "Kid"
                        }
                      ],
                    }
                  ]
                }
  /contacts/attributes/{attributeCategory}/{attributeName}:
    post:
      tags:
          - Contacts
          - Attributes
      summary: Create contact attribute
      operationId: createAttribute
      parameters:
        - name: attributeCategory
          description: Category of the attribute
          in: path
          required: true
          type: string
          enum:
            - normal
            - transactional
            - category
            - calculated
            - global
        - name: attributeName
          description: Name of the attribute
          in: path
          type: string
          required: true
        - name: createAttribute
          description: Values to create an attribute
          in: body
          required: true
          schema:
            $ref: '#/definitions/createAttribute'
      responses:
        '201':
          description: Attribute created
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - Contacts
          - Attributes
      summary: Update contact attribute
      operationId: updateAttribute
      parameters:
        - name: attributeCategory
          description: Category of the attribute
          in: path
          required: true
          type: string
          enum:
            - category
            - calculated
            - global
        - name: attributeName
          description: Name of the existing attribute
          in: path
          type: string
          required: true
        - name: updateAttribute
          description: Values to update an attribute
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateAttribute'
      responses:
        '204':
          description: Attribute updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Attribute not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - Contacts
          - Attributes
      summary: Delete an attribute
      operationId: deleteAttribute
      parameters:
        - name: attributeCategory
          description: Category of the attribute
          in: path
          required: true
          type: string
          enum:
            - normal
            - transactional
            - category
            - calculated
            - global
        - name: attributeName
          description: Name of the existing attribute
          in: path
          type: string
          required: true
      responses:
        '204':
          description: Attribute deleted
        '404':
          description: Attribute not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/folders:
    get:
      tags:
          - Contacts
          - Folders
      summary: Get all folders
      operationId: getFolders
      parameters:
        - name: limit
          description: Number of documents per page
          in: query
          required: true
          type: integer
          format: int64
          default: 10
          maximum: 50
        - name: offset
          description: Index of the first document of the page
          in: query
          required: true
          type: integer
          format : int64
          default : 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: Folders informations
          schema:
            $ref: '#/definitions/getFolders'
          examples:
            application/json:
              {
                "folders": [
                  {
                    "id": 42,
                    "name": "Ninja_Form",
                    "totalBlacklisted": 98,
                    "totalSubscribers": 4567,
                    "uniqueSubscribers": 4665
                  },
                  {
                    "id": 29,
                    "name": "Prestashop",
                    "totalBlacklisted": 10,
                    "totalSubscribers": 6543,
                    "uniqueSubscribers": 6553
                  }
                  ],
                "count": 2
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    post:
      tags:
          - Contacts
          - Folders
      summary: Create a folder
      operationId: createFolder
      parameters:
        - name: createFolder
          description: Name of the folder
          in: body
          required: true
          schema:
            $ref: '#/definitions/createUpdateFolder'
      responses:
        '201':
          description: Folder created
          schema:
            $ref: '#/definitions/createModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/segments:
    get:
      tags:
          - Contacts
      summary: Get all the segments
      operationId: getSegments
      parameters:
        - name: limit
          description: Number of documents per page
          in: query
          required: true
          type: integer
          format: int64
          default: 10
          maximum: 50
        - name: offset
          description: Index of the first document of the page
          in: query
          required: true
          type: integer
          format : int64
          default : 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: Folders informations
          schema:
            $ref: '#/definitions/getSegments'
          examples:
            application/json:
              {
                "segments": [
                  {
                    "id": 42,
                    "segmentName": "Segment1",
                    "categoryName": "Category1",
                    "updatedAt": "2017-03-12T12:30:00Z",
                  },
                  {
                    "id": 42,
                    "segmentName": "Segment1",
                    "categoryName": "Category1",
                    "updatedAt": "2017-03-12T12:30:00Z",
                  }
                  ],
                "count": 2
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/folders/{folderId}:
    get:
      tags:
          - Contacts
          - Folders
      summary: Returns a folder's details
      operationId: getFolder
      parameters:
        - name: folderId
          description: id of the folder
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '200':
          description: Folder details
          schema:
            $ref: '#/definitions/getFolder'
          examples:
            application/json:
              {
                "id": 1,
                "name": "Client_Folder",
                "totalBlacklisted": 987,
                "totalSubscribers": 16778,
                "uniqueSubscribers": 17765
              }
        '404':
          description: Folder ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - Contacts
          - Folders
      summary: Update a folder
      operationId: updateFolder
      parameters:
        - name: folderId
          description: Id of the folder
          in: path
          type: integer
          format: int64
          required: true
        - name: updateFolder
          description: Name of the folder
          in: body
          required: true
          schema:
            $ref: '#/definitions/createUpdateFolder'
      responses:
        '204':
          description: Folder updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: Folder ID not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - Contacts
          - Folders
      summary: Delete a folder (and all its lists)
      operationId: deleteFolder
      parameters:
        - name: folderId
          description: Id of the folder
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '204':
          description: Folder deleted
        '404':
          description: Folder ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/folders/{folderId}/lists:
    get:
      tags:
          - Contacts
          - Folders
          - Lists
      summary: Get lists in a folder
      operationId: getFolderLists
      parameters:
        - name: folderId
          description: Id of the folder
          in: path
          type: integer
          format: int64
          required: true
        - name: limit
          description: Number of documents per page
          in: query
          required: false
          type: integer
          format: int64
          default: 10
          maximum: 50
        - name: offset
          description: Index of the first document of the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: Folder's Lists details
          schema:
            $ref: '#/definitions/getFolderLists'
          examples:
            application/json:
              {
                "lists": [
                  {
                  "id": 46,
                  "name": "Reactiv",
                  "totalSubscribers": 7655,
                  "totalBlacklisted": 0
                  },
                  {
                  "id": 41,
                  "name": "NY_Area",
                  "totalSubscribers": 3654,
                  "totalBlacklisted": 23
                  },
                  {
                  "id": 22,
                  "name": "VIP_Customer",
                  "totalSubscribers": 8753,
                  "totalBlacklisted": 72
                  }
                ],
              "count": 3
              }
        '404':
          description: Folder ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/lists:
    get:
      tags:
          - Contacts
          - Lists
      summary: Get all the lists
      operationId: getLists
      parameters:
        - name: limit
          description: Number of documents per page
          in: query
          required: false
          type: integer
          format: int64
          default: 10
          maximum: 50
        - name: offset
          description: Index of the first document of the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: Lists informations
          schema:
            $ref: '#/definitions/getLists'
          examples:
            application/json:
              {
                "lists": [
                  {
                    "id": 53,
                    "name": "Spanish_Speakers",
                    "totalSubscribers": 5432,
                    "totalBlacklisted": 65,
                    "folderId": 1
                  },
                  {
                    "id": 50,
                    "name": "Other",
                    "totalSubscribers": 10976,
                    "totalBlacklisted": 765,
                    "folderId": 2
                  }
                ],
                "count": 2
              }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    post:
      tags:
          - Contacts
          - Lists
      summary: Create a list
      operationId: createList
      parameters:
        - name: createList
          description: Values to create a list
          in: body
          required: true
          schema:
            $ref: '#/definitions/createList'
      responses:
        '201':
          description: List created
          schema:
            $ref: '#/definitions/createModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/lists/{listId}:
    get:
      tags:
          - Contacts
          - Lists
      summary: Get a list's details
      operationId: getList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '200':
          description: List informations
          schema:
            $ref: '#/definitions/getExtendedList'
          examples:
            application/json:
              {
                "id": 12,
                "name": "Newsletter_Weekly",
                "totalSubscribers": 6533,
                "totalBlacklisted": 63,
                "folderId": 1,
                "createdAt": "2016-02-26T11:56:08Z",
                "campaignStats": [
                  {
                    "campaignId": 15,
                    "stats": {
                      "uniqueClicks": 701,
                      "clickers": 789,
                      "complaints": 0,
                      "delivered": 6632,
                      "sent": 6645,
                      "softBounces": 34,
                      "hardBounces": 4,
                      "uniqueViews": 3442,
                      "unsubscriptions": 4,
                      "viewed": 4322,
                      "deferred": 0
                    }
                  },
                  {
                    "campaignId": 45,
                    "stats": {
                      "uniqueClicks": 654,
                      "clickers": 788,
                      "complaints": 1,
                      "delivered": 4078,
                      "sent": 4334,
                      "softBounces": 18,
                      "hardBounces": 2,
                      "uniqueViews": 987,
                      "unsubscriptions": 4,
                      "viewed": 1555,
                      "deferred": 0
                    }
                  }
                  ],
            "dynamicList": false
            }
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
    put:
      tags:
          - Contacts
          - Lists
      summary: Update a list
      operationId: updateList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
        - name: updateList
          description: Values to update a list
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateList'
      responses:
        '204':
          description: List updated
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      tags:
          - Contacts
          - Lists
      summary: Delete a list
      operationId: deleteList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
      responses:
        '204':
          description: List deleted
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/lists/{listId}/contacts:
    get:
      tags:
          - Contacts
          - Lists
      summary: Get contacts in a list
      operationId: getContactsFromList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
        - name: modifiedSince
          description: Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.
          in: query
          required: false
          type: string
          format: date-time
        - name: limit
          description: Number of documents per page
          in: query
          required: false
          type: integer
          format: int64
          default: 50
          maximum: 500
        - name: offset
          description: Index of the first document of the page
          in: query
          required: false
          type: integer
          format : int64
          default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation
          required: false
          type: string
          enum:
            - asc
            - desc
          default: desc
      responses:
        '200':
          description: Contact informations
          schema:
            $ref: '#/definitions/getContacts'
          examples:
            application/json:
                {
                  "contacts": [
                    {
                      "email": "alex.pain@example.com",
                      "id": 45,
                      "emailBlacklisted": false,
                      "smsBlacklisted": true,
                      "createdAt": "2017-05-12T12:30:00Z",
                      "modifiedAt": "2017-05-12T12:30:00Z",
                      "listIds": [
                        12,9,20
                      ],
                      "listUnsubscribed": [
                        1,2
                      ],
                      "attributes": {
                        "LASTNAME": "Pain",
                        "FIRSTNAME": "Alex",
                        "DOB": "2010-12-31",
                        "GENDER": "Kid"
                      },
                    },
                    {
                      "email": "john.smith@example.com",
                      "id": 32,
                      "emailBlacklisted": true,
                      "smsBlacklisted": false,
                      "createdAt": "2017-05-12T12:30:00Z",
                      "modifiedAt": "2017-05-12T12:30:00Z",
                      "listIds": [
                        12
                      ],
                      "listUnsubscribed": [
                        1
                      ],
                      "attributes": {
                        "LASTNAME": "Smith",
                        "FIRSTNAME": "John",
                        "DOB": "1986-06-21",
                        "GENDER": "Men"
                      }
                    },
                    {
                      "email": "helen.rose@example.com",
                      "id": 65,
                      "emailBlacklisted": true,
                      "smsBlacklisted": false,
                      "createdAt": "2017-05-12T12:30:00Z",
                      "modifiedAt": "2017-05-12T12:30:00Z",
                      "listIds": [
                        12,9,20
                      ],
                      "listUnsubscribed": [
                        1
                      ],
                      "attributes": {
                        "LASTNAME": "Rose",
                        "FIRSTNAME": "Helen",
                        "DOB": "1988-11-02",
                        "GENDER": "Women",
                        "SMS": "3375599887766",
                      }
                    }
                  ],
                  "count": 17655
                }
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/lists/{listId}/contacts/add:
    post:
      tags:
          - Contacts
          - Lists
      summary: Add existing contacts to a list
      operationId: addContactToList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
        - name: contactEmails
          description: Emails addresses of the contacts
          in: body
          required: true
          schema:
            $ref: '#/definitions/addContactToList'
      responses:
        '201':
          description: All contacts have been added successfully to the list with details of failed ones
          schema:
            $ref: '#/definitions/postContactInfo'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/lists/{listId}/contacts/remove:
    post:
      tags:
          - Contacts
          - Lists
      summary: Delete a contact from a list
      operationId: removeContactFromList
      parameters:
        - name: listId
          description: Id of the list
          in: path
          type: integer
          format: int64
          required: true
        - name: contactEmails
          description: Emails adresses of the contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/removeContactFromList'
      responses:
        '201':
          description: All contacts have been removed successfully from the list with details of failed ones
          schema:
            $ref: '#/definitions/postContactInfo'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
        '404':
          description: List ID not found
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/export:
    post:
      tags:
          - Contacts
      summary : Export contacts
      description:  It returns the background process ID which on completion calls the notify URL that you have set in the input. File will be available in csv.
      operationId: requestContactExport
      parameters:
        - name: requestContactExport
          description: Values to request a contact export
          in: body
          required: true
          schema:
            $ref: '#/definitions/requestContactExport'
      responses:
        '202':
          description: Contact export request has been accepted
          schema:
            $ref: '#/definitions/createdProcessId'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'
  /contacts/import:
    post:
      tags:
          - Contacts
      summary: Import contacts
      description: It returns the background process ID which on completion calls the notify URL that you have set in the input.
      operationId: importContacts
      parameters:
        - name: requestContactImport
          description: Values to import contacts in Sendinblue. To know more about the expected format, please have a look at ``https://help.sendinblue.com/hc/en-us/articles/209499265-Build-contacts-lists-for-your-email-marketing-campaigns``
          in: body
          required: true
          schema:
            $ref: '#/definitions/requestContactImport'
      responses:
        '202':
          description: Contact import request has been accepted
          schema:
            $ref: '#/definitions/createdProcessId'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/errorModel'

  /smsCampaigns:
    get:
      tags:
          - SMS Campaigns
      summary: Returns the information for all your created SMS campaigns
      operationId: getSmsCampaigns
      parameters:
        - name: status
          description: Status of campaign.
          in: query
          required: false
          type: string
          enum:
            - suspended
            - archive
            - sent
            - queued
            - draft
            - inProcess
        - name: startDate
          description: Mandatory if endDate is used. Starting (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent sms campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )
          in: query
          required: false
          type: string
          format: date-time
        - name: endDate
          description: Mandatory if startDate is used. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent sms campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )
          in: query
          required: false
          type: string
          format: date-time
        - name: limit
          description: Number limitation for the result returned
          in: query
          required: false
          type: integer
          format: int64
          default: 500
          maximum: 1000
        - name: offset
          description: Beginning point in the list to retrieve from.
          in: query
          required: false
[...]
