=begin
#Brevo API

#Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :   - Manage your campaigns and get the statistics   - Manage your contacts   - Send transactional Emails and SMS   - and much more...  You can download our wrappers at https://github.com/orgs/brevo  **Possible responses**   | Code | Message |   | :-------------: | ------------- |   | 200  | OK. Successful Request  |   | 201  | OK. Successful Creation |   | 202  | OK. Request accepted |   | 204  | OK. Successful Update/Deletion  |   | 400  | Error. Bad Request  |   | 401  | Error. Authentication Needed  |   | 402  | Error. Not enough credit, plan upgrade needed  |   | 403  | Error. Permission denied  |   | 404  | Error. Object does not exist |   | 405  | Error. Method not allowed  |   | 406  | Error. Not Acceptable  | 

The version of the OpenAPI document: 3.0.0
Contact: contact@brevo.com
Generated by: https://openapi-generator.tech
Generator version: 7.5.0

=end

require 'cgi'

module Brevo
  class TransactionalWhatsAppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all your WhatsApp activity (unaggregated events)
    # This endpoint will show the unaggregated statistics for WhatsApp activity (30 days by default if `startDate` and `endDate` or `days` is not passed. The date range can not exceed 90 days)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number limitation for the result returned (default to 2500)
    # @option opts [Integer] :offset Beginning point in the list to retrieve from (default to 0)
    # @option opts [String] :start_date **Mandatory if endDate is used.** Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate 
    # @option opts [String] :end_date **Mandatory if startDate is used.** Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate 
    # @option opts [Integer] :days Number of days in the past including today (positive integer). _Not compatible with &#39;startDate&#39; and &#39;endDate&#39;_ 
    # @option opts [String] :contact_number Filter results for specific contact (WhatsApp Number with country code. Example, 85264318721)
    # @option opts [String] :event Filter the report for a specific event type
    # @option opts [String] :sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (default to 'desc')
    # @return [GetWhatsappEventReport]
    def get_whatsapp_event_report(opts = {})
      data, _status_code, _headers = get_whatsapp_event_report_with_http_info(opts)
      data
    end

    # Get all your WhatsApp activity (unaggregated events)
    # This endpoint will show the unaggregated statistics for WhatsApp activity (30 days by default if &#x60;startDate&#x60; and &#x60;endDate&#x60; or &#x60;days&#x60; is not passed. The date range can not exceed 90 days)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number limitation for the result returned (default to 2500)
    # @option opts [Integer] :offset Beginning point in the list to retrieve from (default to 0)
    # @option opts [String] :start_date **Mandatory if endDate is used.** Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate 
    # @option opts [String] :end_date **Mandatory if startDate is used.** Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate 
    # @option opts [Integer] :days Number of days in the past including today (positive integer). _Not compatible with &#39;startDate&#39; and &#39;endDate&#39;_ 
    # @option opts [String] :contact_number Filter results for specific contact (WhatsApp Number with country code. Example, 85264318721)
    # @option opts [String] :event Filter the report for a specific event type
    # @option opts [String] :sort Sort the results in the ascending/descending order of record creation. Default order is **descending** if &#x60;sort&#x60; is not passed (default to 'desc')
    # @return [Array<(GetWhatsappEventReport, Integer, Hash)>] GetWhatsappEventReport data, response status code and response headers
    def get_whatsapp_event_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionalWhatsAppApi.get_whatsapp_event_report ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 5000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TransactionalWhatsAppApi.get_whatsapp_event_report, must be smaller than or equal to 5000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TransactionalWhatsAppApi.get_whatsapp_event_report, must be greater than or equal to 0.'
      end

      allowable_values = ["sent", "delivered", "read", "error", "unsubscribe", "reply", "soft-bounce"]
      if @api_client.config.client_side_validation && opts[:'event'] && !allowable_values.include?(opts[:'event'])
        fail ArgumentError, "invalid value for \"event\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/whatsapp/statistics/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'contactNumber'] = opts[:'contact_number'] if !opts[:'contact_number'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsappEventReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"TransactionalWhatsAppApi.get_whatsapp_event_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionalWhatsAppApi#get_whatsapp_event_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a WhatsApp message
    # This endpoint is used to send a WhatsApp message. <br/>(**The first message you send using the API must contain a Template ID. You must create a template on WhatsApp on the Brevo platform to fetch the Template ID.**)
    # @param send_whatsapp_message_request [SendWhatsappMessageRequest] Values to send WhatsApp message
    # @param [Hash] opts the optional parameters
    # @return [SendWhatsappMessage201Response]
    def send_whatsapp_message(send_whatsapp_message_request, opts = {})
      data, _status_code, _headers = send_whatsapp_message_with_http_info(send_whatsapp_message_request, opts)
      data
    end

    # Send a WhatsApp message
    # This endpoint is used to send a WhatsApp message. &lt;br/&gt;(**The first message you send using the API must contain a Template ID. You must create a template on WhatsApp on the Brevo platform to fetch the Template ID.**)
    # @param send_whatsapp_message_request [SendWhatsappMessageRequest] Values to send WhatsApp message
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendWhatsappMessage201Response, Integer, Hash)>] SendWhatsappMessage201Response data, response status code and response headers
    def send_whatsapp_message_with_http_info(send_whatsapp_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionalWhatsAppApi.send_whatsapp_message ...'
      end
      # verify the required parameter 'send_whatsapp_message_request' is set
      if @api_client.config.client_side_validation && send_whatsapp_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_whatsapp_message_request' when calling TransactionalWhatsAppApi.send_whatsapp_message"
      end
      # resource path
      local_var_path = '/whatsapp/sendMessage'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_whatsapp_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendWhatsappMessage201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"TransactionalWhatsAppApi.send_whatsapp_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionalWhatsAppApi#send_whatsapp_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
